.TodoItem {
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 380px;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 1, 1, .8)
}

.TodoItem p {
    height: auto;
    width: 100%;
    font-size: 18px;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    margin: 2px 20px ;
    padding: 2px;
}

.Icon--active {
    text-decoration: line-through;
}